<?xml version="1.0" encoding="UTF-8"?>

<phpunit strict="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">

    <php>
        <env name="CLEARDB_DATABASE_URL" value="mysql://root:@127.0.0.1/widgets-api-test?reconnect=true"/>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/library/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/library/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src/application/library</directory>
        </whitelist>
    </filter>

</phpunit>